<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benight.benightscanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/><uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.login.Login" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.login.Register" android:label="@string/app_name"></activity>
        <activity android:name="com.login.Registered" android:label="@string/app_name"></activity>
        <activity android:name="com.login.Main" android:label="@string/app_name"></activity>
        <activity android:name="com.login.PasswordReset" android:label="@string/app_name"></activity><activity android:name="com.login.ChangePassword"></activity>
        <activity android:name="com.scan.SimpleScan" android:label="@string/app_name"></activity>
        <activity android:name="com.events.GetEvents"></activity>
        <activity android:name="com.navigation.NavigationDrawer"></activity>
        <activity android:name="com.events.EventInfo"></activity>
        
    </application>

</manifest>
